*{margin: 0px;padding:0px;}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(96, 9, 117);
    overflow: hidden;
  }
  #hm{
    color: rgb(0, 0, 0);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
  }
  
  /* Add an active class to highlight the current page */
  .active2 {
    background-color: #e2b0eb;
    color: rgb(52, 7, 61);
    font-weight: bolder;
    box-shadow: 1px 1px 5px 5px  #e2b0eb;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  
  
  /* Style the dropdown button to fit inside the topnav */
  /* .dropdown22 .dropbtn {
    font-size: 27px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: rgb(96,9,117);
    font-family: inherit;
    margin: 0;
  } */
  .sticky {
position: fixed;
top: 0;
width: 100%;
}
.topnav input[type=text] {
float: right;
padding: 6px;
border: none;
margin-top: 14px;
margin-right: 16px;
font-size: 22px;
height:30px;
width:180px;
box-shadow: 1px 1px 5px 5px rgb(220, 143, 243);
color: #311436;
}
.b1{float: right;
padding: 6px;
border: none;
margin-top: 14px;
margin-right:16px;
background-color: rgb(225, 190, 245);
box-shadow: 1px 1px 5px 5px white;
height:30px;}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 60px;
}
  


  /* Style the dropdown content (hidden by default) */
  .dropdown-content22 {
    
    position: absolute;
    display: none;
    background-color: #c090ba;
    margin-left: 46%;
    
  }
  
  /* Style the links inside the dropdown */
 
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  /* .topnav a:hover, .dropdown22:hover .dropbtn {
    background-color: #e2b0eb;
    color: #311436;
  } */
  
  /* Add a grey background to dropdown links on hover */
  /* .dropdown-content a:hover {
    background-color: rgb(61, 28, 77);
    color: #e2b0eb;
  } */
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown22:hover .dropdown-content22 {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown22 .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  /* trending section */

   /* Position the image container (needed to position the left and right arrows) */
   .container {
    position: relative;width:100%;background-color:#c090ba;;margin:auto
  }
  
  /* Hide the images by default */
  /* .mySlides {
    display: none;
  } */
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prevt,
  .nextt {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(49, 18, 61);
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .nextt {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prevt {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prevt:hover,
  .nextt:hover {
    background-color: rgba(42, 14, 54, 0.8);
    color:rgb(197, 166, 226);
    box-shadow:1px 1px 5px 5px 
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #4e2569;
    font-size: 52px;
    padding: 8px 12px;
    position: absolute;
    top: 270px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #49274A;
    padding: 20px 16px;
    color: white;
    font-size: larger;
  }
  
  .rowt:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Six columns side by side */
  .columnt {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    height:150px
  }
  #tg{color:#F8EEE7}
  .active,
  .demo:hover {
    opacity: 1;
  }
  .imgset{width:65%;height:500px;margin:auto;display:flex;box-shadow: 1px 0px 7px 7px #F8EEE7;}
 #slbox{height:500px;}
 .sb-slider{width:100%;margin-top:100px;}
 #tg{padding:50px}
 #caption{color: white;font-size: 3rem;}
 #nz{padding:80px}
 .news{height:800px;}
/* .article{borde;} */
#art{padding:100px}
.trnmt{height:950px}
#tt{padding-bottom: 80px;}


div.container
{
    font-family: Raleway;
    /* margin: 0 auto; */
	padding: 3em 0em;
  z-index: 11;
	/* text-align: center; */
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 0px;
    padding: 10px 10px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.pullDrp{
  color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 0px;
    padding: 10px 10px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.pullDrp:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

.pullDrp:hover:before
{
    width: 100%;
}

.yellow
{
    background: #c090ba;;
}


/* Pull right  */
.pullRight:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

.pullRight:hover:before
{
    width: 100%;
}

.pull:before
{
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

.pull:hover:before
{
    width: 100%;
}

/* Pull left  */
div.pullLeft a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before
{
    width: 100%;
}

.nextt {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prevt {
  left: 0;
  border-radius: 3px 0 0 3px;
}
div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 0px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.dropbtn:hover .dropdown-content22 {
  display: block;
}
.wrapper{background-color:  #49274A;}
body{background-color:  #49274A;}
/* body{background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%)} */
.sb-slider{
box-shadow: #F8EEE7 15px 14px 28px, #F8EEE7 5px 10px 10px };
.ts{background-color: #94618e;}
#tg{padding-bottom: 100px;}

#tg,#nz,#art,#tt{color:#F8EEE7 ;text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
}
#tt{padding-top: 50px;}

.article{background-color: #c090ba;}

#feature,.hmeet{color:#F8EEE7 ;text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;font-family: "Clip";font-size: 5rem;
padding-top: 50px;}

#hl{color:#49274A ;text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #f59dcf, 0.2rem 0.1rem 1rem #eeb0d3,
  0 -0.5rem 2rem #eec0d4, 0 0.5rem 3rem #ecbad0;}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #49274A;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.cssload-loader {
	width: 450px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: Comic Sans MS;
	text-transform: uppercase;
	font-weight: 900;
	font-size:54px;
	color: white;
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 45px;
	height: 45px;
	background: white;
	position: absolute;
	animation: cssload-load 0.81s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 90px;
		width: 45px;
	}
	50% {
		height: 24px;
		width: 120px;
	}
	100% {
		left: 405px;
		height: 90px;
		width: 45px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 90px;
		width: 45px;
	}
	50% {
		height: 24px;
		width: 120px;
	}
	100% {
		left: 405px;
		height: 90px;
		width: 45px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 90px;
		width: 45px;
	}
	50% {
		height: 24px;
		width: 120px;
	}
	100% {
		left: 405px;
		height: 90px;
		width: 45px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 90px;
		width: 45px;
	}
	50% {
		height: 24px;
		width: 120px;
	}
	100% {
		left: 405px;
		height: 90px;
		width: 45px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 90px;
		width: 45px;
	}
	50% {
		height: 24px;
		width: 120px;
	}
	100% {
		left: 405px;
		height: 90px;
		width: 45px;
	}
}

#loverlay{
  height: 100%;
  width: 100%;
  background: #49274A;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.loader{
display: inline-block;
position: relative;
top: 50%;
}



.lk {
  /* float: none;
  color: black; */
  font-size: 1rem;
  padding: 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 11;
}
   .abcdlogo{padding: 0px;margin:0px;width:80px;height:80px;
}  
 .abcdlogo img{width:80px;height:80px;border-radius: 30%;
}   
/* .newsImg{width:} */
